server:
  port: 8086

spring:
  application:
    name: payment-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080

vnpay:
  tmn-code: ${TMNCODE}
  hash-secret: ${HASH-SECRET}
  pay-url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
  return-url: https://yourdomain.com/api/payment/vnpay/return

openApi:
  uri: ${OPENAPI-URI}